<div class="about" fxLayout="row" fxLayoutWrap fxLayout.xs="column" fxLayout.sm="column">
  <div class="child1" fxFlex="50%">
    <h1>about nickie .</h1>
    <p>
      Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus bibendum. Sed
      fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
      ridiculus mus. Sed vitae rutrum neque. Ut id erat sit amet libero bibendum aliquam. Donec ac egestas libero, eu
      bibendum risus. Phasellus et congue justo. Sed vitae rutrum neque. Ut id erat sit amet libero bibendum aliquam.
      Donec ac egestas libero, eu bibendum risus. Phasellus et congue justo. Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    </p>
    <div class="follow">
      <h4>follow me</h4>
      <div class="link">
        <a href="https://www.facebook.com">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="https://www.twitter.com">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.linkedin.com">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="https://www.instagram.com">
          <i class="fa fa-instagram"></i>
        </a>
        <a href="https://www.youtube.com">
          <i class="fa fa-youtube"></i>
        </a>
      </div>
    </div>
    <button class="hvr-sweep-to-bottom" mat-button>download cv</button>
  </div>
  <div class="child2" fxFlex="50%">
    <img src="../../assets/about-1.png" />
  </div>
</div>
