<div class="card" fxLayout="column" fxLayoutGap="20px" fxLayoutWrap>
  <h1>services</h1>
  <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus.</p>
  <div class="child1" fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column" fxLayout.sm="column">
    <mat-card class="hvr-push" fxLayout="column">
      <i class="fa fa-american-sign-language-interpreting"></i>
      <h3>Graphic Design</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </p>
    </mat-card>
    <mat-card class="hvr-push" fxLayout="column">
      <i class="fa fa-align-center"></i>
      <h3>Support</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </p>
    </mat-card>
    <mat-card class="hvr-push" fxLayout="column">
      <i class="fa fa-apple"></i>
      <h3>Web Idea</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </p>
    </mat-card>
  </div>
  <div class="child2" fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column" fxLayout.sm="column">
    <mat-card class="hvr-push" fxLayout="column">
      <i class="fa fa-american-sign-language-interpreting"></i>
      <h3>Web Development</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </p>
    </mat-card>
    <mat-card class="hvr-push" fxLayout="column">
      <i class="fa fa-align-center"></i>
      <h3>Responsive Design</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </p>
    </mat-card>
    <mat-card class="hvr-push" fxLayout="column">
      <i class="fa fa-apple"></i>
      <h3>Creative Design</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </p>
    </mat-card>
  </div>
</div>
